<html>
<head>
<title>Innovative a Email Template | w3layouts</title>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Innovative Newsletter templates, Email Templates, Newsletters, Marketing  templates,
	Advertising templates, free Newsletter" />
<!-- //Custom Theme files -->
<!-- Responsive Styles and Valid Styles -->
	<style type="text/css">

	    body{
            width: 100%;
            margin:0;
            padding:0;
            -webkit-font-smoothing: antialiased;
        }
        html{
            width: 100%;
        }

        table{
            font-size: 14px;
            border: 0;
        }
		 /* ----------- responsivity ----------- */
		 @media only screen and (max-width: 800px){
				table.container.top-header-left {
					width: 726px;
				}
		 }
		 @media only screen and (max-width: 736px){
			 table.container.top-header-left {
				width: 684px;
			}
			}
		
    </style>
</head>
</body>
</html>
